# Soubor requirements.txt - https://pip.pypa.io/en/stable/user_guide/
#
# pip install -U  -r requirements.txt
#
#  nahozeni playwright
#  playwright install

# verze BB

# Zaklad
# pylint
# selenium
bs4
# autopep8
pandas
lxml  # potrebuje Python 3.9 a pandas
openpyxl
# ipykernel

# web
streamlit
matplotlib
plotly
kaleido

# vEnv
Playwright
# Pyppeteer
# requests_html
# scrapingant_client
# matplotlib
# plotly

# Nove
requests


